* {
  margin: 0 ;
  padding: 0 ;
  /* cursor: url('../public/cursor-idle.png'), auto !important; */
}

body {
  display: grid;
  background-color: #FFF5E1;
  color: #0B0500;
  /* margin: auto; */
  /* padding: 2rem !important; */
  overflow: hidden;
  height: 100vh;
  cursor: url('../public/cursor-idle.png'), auto !important;
}

.App {
  min-height: 100vh;
  width: 100vw;
  max-width: 190px;
  margin-bottom: 15rem;
}

.main-heading {
  
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 6rem;
  text-align: left;
  color: #000000;
}

.secondary-heading {
 
  font-family: "Aston", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 4.5rem;
  color: #000000;
  line-height: 6rem;
}

.text-content {
  font-family: "Cookie", cursive;
  font-weight: 400;
  font-size: 2.5rem;
  text-align: left;
  color: #000000;
}

.text-navbar {
  font-family: "Glysa", cursive;
  font-weight: 400;
  font-size: 2.5rem;
  text-align: left;
}

.navbar-section {
  background-color: #D8BFD8;
  min-height: 5rem;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  text-align: center;
  align-content: center;
  justify-content: center;
}

.sections {
  padding: 2rem;
  margin: 5rem;
  text-align: center;
  display: inline-block;
  place-items: center;
  align-content: center;
  justify-content: center;
}
.sections img {
  width: 100%;
}
.play-button{
  background-color: #770737;
  border: none;
  font-family: "Cookie", cursive;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 28px;
  margin-top: 2rem;
  /* cursor: url('../public/hover.png') auto !important; */
  border-radius: 12px;
  transition: background-color 0.3s, transform 0.3s;
}

.play-button:hover {
  background-color: #9e2157;
  transform: scale(1.05);
}

.play-button:active {
  transform: scale(0.95);
  background-color: #ff4500;
}

.play-button{
  background-color: #770737;
  border: none;
  font-family: "Cookie", cursive;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 28px;
  margin-top: 2rem;
  cursor: pointer;
  border-radius: 12px;
  transition: background-color 0.3s, transform 0.3s;
}
.link-in-buttons {
  cursor: pointer;
  text-decoration: none;
}
.footer {
  background-color: #D8BFD8;
  padding: 2rem;  
  text-align: center;
  align-content: center;
  justify-content: center;
}


@font-face {
  font-family: 'Catellos';
  src: url('./Assets/Fonts/Catellos.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sophia';
  src: url('./Assets/Fonts/Sophia.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Aston';
  src: url('./Assets/Fonts/Aston\ Script.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Glysa';
  src: url('./Assets/Fonts/Glysa.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Modista';
  src: url('./Assets/Fonts/modista.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

